@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: auto;
}

.logo {
  height: 150px;
  width: 150px;
}

.icons span i {
  margin: 8%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
